<!DOCTYPE html>
<html>
  <head>
    <title>PoetyV3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="poeet-header">
      <h1>
      <%= link_to "Poety",poeets_path,class:"text-3d" %>
      </h1>
      <div class="poeet-notice">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key} flash") %>
    <% end %>
        
      </div>
      <div class="loginLogout">
        <% if logged_in? %>
          <%= link_to "#{@user.name}", user_path(current_user.id),class: "poeet-btn poeet-btn-small" %>
          <%= link_to "ログアウト", session_path(current_user.id), method: :delete,class: "poeet-btn poeet-btn-small" %>
        <% else %>
          <%= link_to "サインアップ", new_user_path,class: "poeet-btn poeet-btn-small" %>
          <%= link_to "ログイン", new_session_path,class: "poeet-btn poeet-btn-small" %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
